.contentbox{
    display:inline-flex;
    align-self: center;
    width: auto;
    max-width: 85%;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #440bd48e, #ff207991);
    box-shadow: 0 4px 8px 5px rgba(255, 245, 245, 0.5), 0 6px 20px 3px rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    margin-top: 15px;
}

.vector_body {
  position: relative;
    z-index: 0
}

.subcontentbox {
  height: 50vh;
  overflow-y: scroll;
  overflow-y: auto;
  display:inline-flex;
  flex-direction: column;
  align-self: center;
  width: auto;
  padding-right: 20px ;
  border: none;
  outline: none;
}
.subcontentbox::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(218, 224, 224, 0.274);
  border-radius: 5px;
}

.subcontentbox::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background-color: rgb(211, 201, 201);
}

.foodContentBox {
  display:block;
    /* align-self: center; */
    width: auto;
    max-width: 85%;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #440bd48e, #ff207991);
    box-shadow: 0 4px 8px 5px rgba(255, 245, 245, 0.5), 0 6px 20px 3px rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    margin-top: 15px;
}

.foodSubcontentbox {
  height: 50vh;
  overflow-y: scroll;
  display:inline-block;
  width: auto;
  padding-right: 20px ;
  border: none;
  outline: none;
}

.foodSubcontentbox::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(218, 224, 224, 0.274);
  border-radius: 5px;
}

.foodSubcontentbox::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background-color: rgb(211, 201, 201);
}

.instructionbox {
    margin: 10px;
    padding: 10px 30px;
    display: inline-flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    border-radius: 0 20px 20px 0;
}
.instruction{
    padding-left: 15px;
    text-align: left;
    color: #e1e2e2;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
}

.icon{
    min-width: 20px;
    max-width: 20px;
    height: 20px;
}
.instructionbox span{
  display: none;
  font-size: 1.3rem;
  padding-right: 5px;
}
.instructionbox:nth-child(odd) span{
  color:rgb(0, 231, 0);
}
.instructionbox:nth-child(even) span{
  color:rgb(231, 15, 0);
}
@media only screen and (min-width: 1024px) {
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .instructionbox{
    padding: 10px 0px;
    margin: 0;
  }
  .icon{
    display: none;
  }
  .instructionbox span{
    display: inline;
  }
  .instruction{
    padding-left: 2px;
    font-size: 1rem;
  }
  .contentbox{
    padding: 20px;
  }
}